@model List<Book>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@foreach(var book in Model)
{
    <div class="card" style="width: 18rem;">
        <img src="@Url.Action("GetImage","Book",new {id = book.Id})" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@book.Title</h5>
            <p class="card-text">Available Quantity : @book.quantity</p>
            @if (User.IsInRole("Librarian"))
            {
                <a href="/Book/UpdateBook/@book.Id
                " class="btn btn-primary">Edit</a>
                <a href="/Book/DeleteBook/@book.Id" class="btn btn-danger">Delete</a>
            }
            else if (User.IsInRole("Member"))
            {
                <a href = "#" class="btn btn-success"> Borrow </a>
            }
        </div>
    </div>
}

