@model BookViewModel

@{
    ViewData["Title"] = "UpdateBook";
}

<h1>UpdateBook</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateBook" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Img">Update Image</label>
                <input asp-for="Img" type="file" class="form-control" />
                <span asp-validation-for="Img" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

